<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <input name="f_name" placeholder="First Name" type="text" />
      <input name="l_name" placeholder="Last Name" type="text" />
      <input name="username" placeholder="Username" type="text" />
      <input name="password" placeholder="Password" type="password" />
      <input
        name="re_password"
        placeholder="Confirm Password"
        type="password"
      />
      <button>Sign Up</button>
    </form>
  </body>
</html>
